* {
  margin: 0;
}
/*Common Shared Style */
body {
  font-family: "Inter", sans-serif;
}
.fixed-width {
  max-width: 1120px;
  margin: 0 auto;
}
.join-btn {
  color: #fff;
  background: #f00;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 20px 25px;
  border-radius: 5px;
  cursor: pointer;
}
/* Header Style Section */

.header-banner {
  font-family: "Merriweather", serif;
  background-image: url("../assets/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  margin: 50px 0px;
  position: relative;
}
.header-banner h3 {
  font-family: Merriweather;
  font-size: 28px;
  font-weight: 400;
  display: inline-block;
  margin-top: 175px;
  margin-bottom: 16px;
}
.header-banner h2 {
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
}
.bg-gradient {
  position: absolute;
  height: 500px;
  width: 100%;
  background: linear-gradient(175deg, #070211 0%, rgba(7, 2, 17, 0) 55%);
  bottom: 0;
  border-radius: 10px;
}

/* Discount Style Section */
.discount {
  text-align: center;
  color: #f00;
  margin: 120px 0px;
}
.discount-percent {
  font-size: 72px;
  font-weight: 700;
  margin-bottom: 42px;
}
.discount-time {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.discount-title {
  color: #070211;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* Party Style Section */
.midnight-party {
  background-image: url("../assets/images/Vectorrr.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  padding: 10px 50px;
  position: relative;
}
.party-left {
  width: 60%;
  margin-left: 20px;
  color: #fff;
}
.party-title {
  font-family: Merriweather;
  font-size: 54px;
  font-weight: 900;
  letter-spacing: 7.04px;
  margin-bottom: 24px;
}
.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}
.party-btn {
  margin-left: 30px;
}
.bg-party {
  position: absolute;
  height: 500px;
  width: 100%;
  background: linear-gradient(175deg, #070211 0%, rgba(7, 2, 17, 0) 55%);
  bottom: 0;
  top: 0;
  right: 0;
  border-radius: 10px;
}
/* Party Place Style */
.party-place {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  height: 400px;
  text-align: center;
  padding: 100px 0px;
  border-radius: 10px;
  margin-bottom: 100px;
}
.party-place p {
  color: #000;
  font-size: 28px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 50px;
}
.party-highlight {
  color: #f00;
}
/* Coming Soon Style Section */
.coming-soon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: center;
}
.coming-soon-left,
.coming-soon-right {
  width: 25%;
}
.coming-soon-middle {
  width: 40%;
}
.coming-soon-left {
  margin-right: 20px;
}
.coming-soon-right {
  margin-left: 20px;
}
.coming-soon-left h3 {
  color: #f00;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 16px;
}
.coming-soon-left h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 22px;
}
.coming-soon-left p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}

.coming-soon-middle img {
  padding: 15px;
  border-radius: 50%;
  border: 15px solid #f00;
}

.coming-soon-right h2 {
  color: #f00;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.coming-soon-right p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
.coming-soon-right img {
  width: 140px;
  height: 140px;
}

/* Portfolio Style Section */
.awesome-portfolio {
  margin-bottom: 120px;
  width: 80%;
}
.portfolio-description {
  margin-bottom: 48px;
}
.portfolio-description h3 {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.portfolio-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 45px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 22px;
}
.portfolio-description p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.portfolio-images-top,
.portfolio-images-bottom {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
.portfolio-images-top img,
.portfolio-images-bottom img {
  width: 40%;
}
/* .portfolio-images-top img:hover,
.portfolio-images-bottom img:hover {
} */

/* Subscriber Section Style */
.subscriber {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  height: 500px;
  text-align: center;
  padding: 50px 210px;
  margin-bottom: 120px;
}
.subscriber img {
  margin: 20px 0 30px;
}
.subscriber-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 45px;
  font-weight: 900;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.subscriber p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}

.subscribe-email > form > input {
  border: 0;
  padding: 25px 20px;
  margin-bottom: 40px;
}
.subscribe-email input[type="email"] {
  font-size: 18px;
  background: #fff;
  border-radius: 50px 0px 0px 50px;
  color: rgba(7, 2, 17, 0.3);
  text-align: center;
  font-weight: 400;
  width: 400px;
}
.subscribe-email input[type="submit"] {
  font-size: 18px;
  padding: 25px 16px;
  border-radius: 0px 50px 50px 0px;
  margin-left: -5px;
  background: #f00;
  color: #fff;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  width: 150px;
}

/* Footer Styles */
footer {
  background-color: #070211;
  color: #fff;
}
.footer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 120px 140px;
  font-size: 20px;
}
.contact-address {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  line-height: 30px;
}
.address {
}
.social-media {
  text-align: center;
  margin: 50px 0;
}
.social-media hr {
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.social-media img {
  margin: 48px 10px;
  cursor: pointer;
}
.copy-right {
  display: flex;
  justify-content: space-between;
}
.copy-right a {
  color: #fff;
  text-decoration: none;
}
